# Created by .ignore support plugin (hsz.mobi)

### netbeans template
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

### CakePHP template
# CakePHP 3

/vendor/*
/config/app.php
/tmp/*
/logs/*

# CakePHP 2

/app/tmp/*
/app/Config/core.php
/app/Config/database.php
/vendors/*
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
.bowerrc
composer.phar
composer.lock
out
gen
